---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <h1>Terms of Service</h1>
<p>By using Trace Vault, you agree to our terms. We are not responsible for misuse of the platform.</p>
<p>For any issues, contact us at kindralabs@gmail.com.</p>
<p>For more details, please refer to our <a href="/privacy">Privacy Policy</a>.</p>
<style>
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  p { 
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;  
  }
  a {
    color: #38bdf8;
    text-decoration: underline;
  }
  a:hover {
    color: #facc15;
  }
</style>
</Layout>