---
import "../styles/index.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <Navbar />
  <header class="header">
    <h1>Trace<span>Vault</span></h1>
    <p>Lost something? Found something? Let's connect the dots.</p>
  </header>

  <main class="container">
    <section class="card">
      <h2>Report Lost Item</h2>
      <p>Help us find your belongings by submitting a report.</p>
      <a href="/Report">
        <button>Report Now</button>
      </a>
    </section>

    <section class="card">
      <h2>View Found Items</h2>
      <p>Check the list of items people have found around campus.</p>
      <a href="/Explore">
        <button>Explore</button>
      </a>
    </section>

    <!-- <section class="card">
        <h2>Trace Item</h2>
        <p>Enter your Trace ID to check the status of your report.</p>
        <a href="/Trace">
          <button>Trace Item</button>
        </a>
      </section> -->
  </main>

  <script is:inline>
    // function protectedPage() {
    //   fetch("http://localhost:9000/api/user")
    //     .then((res) => res.json())
    //     .then((data) => {
    //       if (!data.user) {
    //         window.location.href = "./";
    //       } else {
    //         console.log(`Logged in user: ,${data.user}`);
    //       }
    //     })
    //     .catch((err) => console.log(err));
    // }
    // protectedPage();
  </script>
</Layout>
